.sidebar {
  position: fixed;
  left: 0;
  height: 100%;
  width: auto;
  background-color: rgb(124, 137, 151); /* Bootstrap default background color */
  padding: 10px;
}

.sidebar .nav-link {
  padding: 8px 10px;
  border-radius: 10px;
  margin: 5px;
  color: white;
  white-space: nowrap;
}

.sidebar .nav-link:hover {
  background-color: black; /* Bootstrap default hover background color */
}
