.date-range-selector {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 300px;
  margin-bottom: 10px;
}

.date-picker {
  /* margin-bottom: gauraj; */
  padding: 5px;
}

button.select-button {
  background-color: #007bff;
  color: white;
  padding: 0px 20px;
  margin: 5px;
  font-size: 16px;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.select-button:hover {
  background-color: #0056b3;
}
